
/* No cambiar los estilos que aquí te dejo, solo debes complementar según las instrucciones
del examen */

@import url('https://fonts.googleapis.com/css2?family=Babylonica&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Babylonica&family=Gloock&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Babylonica&family=Gloock&family=Mynerve&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.contenedor{
    margin: auto;
    padding: 80px;
    background-color: lightblue;
}

.contenedor h2{
    padding-top: 30px;
    padding-bottom: 20px;
}

.contenedor h1{
    padding-top: 30px;
    padding-bottom: 20px;
}

.contenido{
    background-color: bisque;
    text-align: center;
    padding-top: 30px;
    padding-left: 40px;
    padding-right: 40px;
}

.contenido p{
    width: 100%;
    text-align: justify;
    font-size: 25px;
}

.contenido h2{
    color: purple;
}

.contenido ol{
    text-align: left;
    font-size: 25px;
    padding: 40px;
}

.contenido ul{
    text-align: left;
    font-size: 25px;
    padding: 40px;
}

.background{
    width: 100%;
    background-size: cover;
    background-position: center;
}

.encabezado{
    padding: 0.1px;
    background-image: url("../img/imagen1.jpg");
    height: 400px;
}

.encabezado h2{
    color: orangered;
    height: 400px;
    margin-left: 50px;
    line-height: 400px;
    font-size: 30px;
    font-family: "Gloock", serif;
}

.usos{
    background-image: url("../img/imagen2.jpeg");
    height: 400px; /*400 px indicación oral de maestra*/
    color: aliceblue;
    text-align: center;
    line-height: 400px; /*400 px indicación oral de maestra*/
}

.sintaxis{
    background-image: url("../img/imagen3.jpg");
    height: 400px; /*400 px indicación oral de maestra*/
    color: white;
    line-height: 100vh;
}

.datos{
    background-color: darkviolet;
    border: double cornsilk 10px;
    color: aliceblue;
    font-family: "Mynerve", cursive;
    font-size: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
}

h4{
    font-size: 24px;
    font-family: 'Gloock', serif;
    line-height: 500px;
    text-align: center;
}